In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [72]:
details = []
casts = []
for root, dirs, files in os.walk('data/tmdb_divided'):
    for file in files:
        if file.endswith('.csv'):
            if 'detail' in file:
                details.append(os.path.join(root, file))
            else:
                casts.append(os.path.join(root, file))
details.sort()
casts.sort()

In [73]:
detail_df = pd.DataFrame()
for detail in details:
    df = pd.read_csv(detail).drop('Unnamed: 0', axis=1)
    detail_df=pd.concat([detail_df, df], ignore_index=True)

/var/folders/ny/4mt1_15d103gx2y1gsxzf4t00000gn/T/ipykernel_61926/2079162657.py:3: DtypeWarning: Columns (1,23,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(detail).drop('Unnamed: 0', axis=1)

In [74]:
cast_df = pd.DataFrame()
for cast in casts:
    print(cast)
    df = pd.read_csv(cast).drop('Unnamed: 0', axis=1)
    cast_df=pd.concat([cast_df, df], ignore_index=True)

data/tmdb_divided/tmdb_movies_casts_0.csv
data/tmdb_divided/tmdb_movies_casts_1.csv
data/tmdb_divided/tmdb_movies_casts_2.csv
data/tmdb_divided/tmdb_movies_casts_3.csv
data/tmdb_divided/tmdb_movies_casts_4.csv
data/tmdb_divided/tmdb_movies_casts_5.csv
data/tmdb_divided/tmdb_movies_casts_6.csv
data/tmdb_divided/tmdb_movies_casts_7.csv

In [36]:
detail_df.columns

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'success', 'status_code',
       'status_message'],
      dtype='object')

In [75]:
detail_df[detail_df['success'] == False]

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,success,status_code,status_message
129222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
129224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
129225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
129226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.
904191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,34.0,The resource you requested could not be found.

In [57]:
pd.set_option('display.max_rows', None)  # or set a high number like 500
pd.set_option('display.max_columns', None)  # or set a high number if you have many columns

detail_df[detail_df['id'] == 89280]

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,success,status_code,status_message
129223,False,/1Tkjtb9Hl8TdrmXUGbYq1h2ota8.jpg,NaN,0.0,Drama,NaN,89280.0,tt0273850,en,My Brother Tom,"A teenage girl, Jessica, befriends a teenage b...",5.725,/As8XfSgzm2ZUZItwuGlvLepBJdg.jpg,Film4 Productions,United Kingdom,2001-11-16,0.0,111.0,English,Released,Love and tragedy is just a short walk from hom...,My Brother Tom,False,6.1,24.0,NaN,NaN,NaN

In [69]:
cast_df[cast_df['id'] == 301739]

Empty DataFrame
Columns: [id, casts, director, director_of_photography, producer, writer, music_composer]
Index: []

In [76]:
detail_id = detail_df['id']
cast_id = cast_df['id']

In [77]:

# Convert lists to sets
detail_set = set(detail_id)
cast_set = set(cast_id)

# Find unique values in each list
unique_in_list1 = detail_set - cast_set  # Values unique to list1
unique_in_list2 = cast_set - detail_set  # Values unique to list2

# Alternatively, to find values that are unique in each list in one step
unique_in_both = detail_set.symmetric_difference(cast_set)

In [80]:
unique_in_both

{nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17048.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 301739.0,
 nan,
 nan,
 392817.0,
 473647.0,
 nan,
 573245.0,
 705916.0,
 708736.0,
 709008.0,
 709811.0,
 805561.0,
 854643.0,
 865395.0,
 884771.0,
 887550.0,
 889886.0,
 1049324.0,
 1060666.0,
 1134214.0,
 1183566.0,
 1192412.0,
 1223746.0,
 1226125.0,
 1236453.0,
 1237326.0,
 1244144.0,
 1245311.0,
 1246063.0,
 1246578.0,
 1246749.0,
 1248433.0,
 1250069.0,
 1253599.0,
 1254236.0,
 1254614.0,
 1257084.0,
 1257716.0,
 1257754.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

In [67]:
for item in unique_in_list1:
    if item in unique_in_list2:
        print(item)

In [81]:
len(unique_in_list1), len(unique_in_list2)

(63, 20)

In [82]:
df = pd.read_csv('data/TMDB_all_movies.csv')
tmdb_id_list = df['id']
original_set = set(tmdb_id_list)
re_detail = original_set - detail_set
re_cast = original_set - cast_set

In [83]:
len(re_detail), len(re_cast)

(438, 475)

In [32]:
detail_df.columns
['budget', 'genres','id', 'overview', 'popularity', 'poster_path', 
 'production_companies','production_countries', 
 'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
 'vote_average', 'vote_count']

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'success', 'status_code',
       'status_message'],
      dtype='object')

In [84]:
custom_tmdb_df = pd.merge(left=detail_df, right=cast_df, on='id', how='inner')

In [88]:
filtered_df = custom_tmdb_df.dropna(subset='overview')

In [92]:
filtered_df2 = filtered_df[filtered_df['status'].str.lower() == 'released']

In [96]:
filtered_df2.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,success,status_code,status_message,casts,director,director_of_photography,producer,writer,music_composer
0,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,NaN,0.0,"Drama, Comedy, Romance, Crime",NaN,2.0,tt0094675,fi,Ariel,After the coal mine he works at closes and his...,9.625,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,Villealfa Filmproductions,Finland,1988-10-21,0.0,73.0,suomi,Released,NaN,Ariel,False,7.092,305.0,NaN,NaN,NaN,"['Turo Pajala', 'Susanna Haavisto', 'Matti Pel...",['Aki Kaurismki'],['Timo Salminen'],['Aki Kaurismki'],['Aki Kaurismki'],"['Melrose', 'Rauli Somerjoki', 'Olavi Virta', ..."
1,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,NaN,0.0,"Drama, Comedy, Romance",NaN,3.0,tt0092149,fi,Varjoja paratiisissa,"Nikander, a rubbish collector and would-be ent...",8.906,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,Villealfa Filmproductions,Finland,1986-10-17,0.0,74.0,"suomi, English, svenska",Released,NaN,Shadows in Paradise,False,7.287,345.0,NaN,NaN,NaN,"['Matti Pellonp', 'Kati Outinen', 'Sakari Ku...",['Aki Kaurismki'],['Timo Salminen'],['Mika Kaurismki'],['Aki Kaurismki'],['Jouko Lumme']
2,False,/f2t4JbUvQIjUF5FstG1zZFAp02N.jpg,NaN,4000000.0,Comedy,https://www.miramax.com/movie/four-rooms/,5.0,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,17.748,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,"Miramax, A Band Apart",United States of America,1995-12-09,4257354.0,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,5.820,2535.0,NaN,NaN,NaN,"['Tim Roth', 'Jennifer Beals', 'Antonio Bander...","['Allison Anders', 'Alexandre Rockwell', 'Robe...","['Guillermo Navarro', 'Andrzej Sekula', 'Phil ...",['Lawrence Bender'],"['Allison Anders', 'Alexandre Rockwell', 'Robe...",['Combustible Edison']
3,False,/bGMqHn0H2UY6SPZ5Vch4YJM2jDO.jpg,NaN,21000000.0,"Action, Crime, Thriller",NaN,6.0,tt0107286,en,Judgment Night,"Four young friends, while taking a shortcut en...",11.617,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,"Largo Entertainment, JVC, Universal Pictures",United States of America,1993-10-15,12136938.0,109.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.525,317.0,NaN,NaN,NaN,"['Emilio Estevez', 'Cuba Gooding Jr.', 'Denis ...",['Stephen Hopkins'],['Peter Levy'],['Gene Levy'],"['Lewis Colick', 'Jere Cunningham']",['Alan Silvestri']
4,False,NaN,NaN,42000.0,Documentary,http://lifeinloops.com,8.0,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,2.303,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg,inLoops,Austria,2006-01-01,0.0,80.0,"English, , , P, Espaol",Released,A Megacities remix.,Life in Loops (A Megacities RMX),False,7.500,27.0,NaN,NaN,NaN,NaN,['Timo Novotny'],['Wolfgang Thaler'],"['Timo Novotny', 'Ulrich Gehmacher']","['Michael Glawogger', 'Timo Novotny']",['Sofa Surfers']

In [98]:
filtered_df2 = filtered_df2[['id', 'title', 'budget', 'revenue', 'genres','imdb_id',
       'overview', 'tagline', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime',
       'vote_average', 'vote_count', 'casts', 'director', 'director_of_photography',
       'producer', 'writer', 'music_composer']]

In [101]:
filtered_df2.head()

,id,title,budget,revenue,genres,imdb_id,overview,tagline,popularity,poster_path,production_companies,production_countries,release_date,runtime,vote_average,vote_count,casts,director,director_of_photography,producer,writer,music_composer
0,2.0,Ariel,0.0,0.0,"Drama, Comedy, Romance, Crime",tt0094675,After the coal mine he works at closes and his...,NaN,9.625,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,Villealfa Filmproductions,Finland,1988-10-21,73.0,7.092,305.0,"['Turo Pajala', 'Susanna Haavisto', 'Matti Pel...",['Aki Kaurismki'],['Timo Salminen'],['Aki Kaurismki'],['Aki Kaurismki'],"['Melrose', 'Rauli Somerjoki', 'Olavi Virta', ..."
1,3.0,Shadows in Paradise,0.0,0.0,"Drama, Comedy, Romance",tt0092149,"Nikander, a rubbish collector and would-be ent...",NaN,8.906,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,Villealfa Filmproductions,Finland,1986-10-17,74.0,7.287,345.0,"['Matti Pellonp', 'Kati Outinen', 'Sakari Ku...",['Aki Kaurismki'],['Timo Salminen'],['Mika Kaurismki'],['Aki Kaurismki'],['Jouko Lumme']
2,5.0,Four Rooms,4000000.0,4257354.0,Comedy,tt0113101,It's Ted the Bellhop's first night on the job....,Twelve outrageous guests. Four scandalous requ...,17.748,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,"Miramax, A Band Apart",United States of America,1995-12-09,98.0,5.820,2535.0,"['Tim Roth', 'Jennifer Beals', 'Antonio Bander...","['Allison Anders', 'Alexandre Rockwell', 'Robe...","['Guillermo Navarro', 'Andrzej Sekula', 'Phil ...",['Lawrence Bender'],"['Allison Anders', 'Alexandre Rockwell', 'Robe...",['Combustible Edison']
3,6.0,Judgment Night,21000000.0,12136938.0,"Action, Crime, Thriller",tt0107286,"Four young friends, while taking a shortcut en...",Don't move. Don't whisper. Don't even breathe.,11.617,/3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg,"Largo Entertainment, JVC, Universal Pictures",United States of America,1993-10-15,109.0,6.525,317.0,"['Emilio Estevez', 'Cuba Gooding Jr.', 'Denis ...",['Stephen Hopkins'],['Peter Levy'],['Gene Levy'],"['Lewis Colick', 'Jere Cunningham']",['Alan Silvestri']
4,8.0,Life in Loops (A Megacities RMX),42000.0,0.0,Documentary,tt0825671,Timo Novotny labels his new project an experim...,A Megacities remix.,2.303,/7ln81BRnPR2wqxuITZxEciCe1lc.jpg,inLoops,Austria,2006-01-01,80.0,7.500,27.0,NaN,['Timo Novotny'],['Wolfgang Thaler'],"['Timo Novotny', 'Ulrich Gehmacher']","['Michael Glawogger', 'Timo Novotny']",['Sofa Surfers']